<div class="container mt-5">
  <h1 class="text-center text-primary">Welcome to the Sportswear Store</h1>
  <p class="text-center">Explore our collection of sportswear.</p>
  
  <ul class="list-unstyled text-center">
    <li><a href="/about" class="btn btn-outline-primary m-2">About Us</a></li>
    <li><a href="/contact" class="btn btn-outline-secondary m-2">Contact</a></li>
  </ul>
</div>
